 <div class="container fluid " id="first-head">
    <div class="row align-items-center p-5">
        <div class="col-md-8 ">
    <h1 class="mb-3">
        The<span class="text-muted"> Hidden </span>Blade
    </h1> 
        <p>
            Set in the heart of Renaissance Italy, this is the story of Ezio Auditore da Firenze — a young nobleman thrust into chaos after a brutal betrayal tears his family apart. 
            As he uncovers the secrets of an ancient brotherhood, Ezio transforms from a reckless youth into a master assassin. Driven by vengeance but guided by honor, 
            he must navigate a world of intrigue, corruption, and power, shaping the course of history with every silent strike. A journey of legacy, justice, and the hidden blade.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://i.ytimg.com/vi/xIjqxjKal_c/maxresdefault.jpg"  class="rounded-circle" width="300" height="300" style="object-fit: cover;">
    </div>
    </div>
</div>

<hr class="w-50 mx-auto mt-3">