
<div id="tagline">
        
            <div id="tagline1" class="container d-flex flex-column justify-content-center align-items-center">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="card-body fw-bold">¡FAVORITE THINGS!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p class="tagline fs-3 dark">WHAT IS YOURS????</p>
                    </div>
                </div>
            </div>
        
</div>
<hr class="w-50 mx-auto mt-3">

